__pycache__/
.vscode
.ipynb_checkpoints
data/keys.txt
data/cams/CO/
data/cams/NO2/
data/cams/SO2/
data/cams/O3/
data/cams/HCHO/
data/cams/NH3/
data/iasi/
data/tropomi/
data/gome/
env-new/
nano.save
animation.gif
main_cams_tropomi_L3_test.ipynb