__pycache__/
.vscode
.ipynb_checkpoints
data/cams/CO/
data/cams/NO2/
data/cams/SO2/
data/cams/O3
data/tropomi/
env-new/
others/
1-main_cams_tropomi-timeseries.ipynb
2-main_cams_tropomi-so2.ipynb
3-main_cams_tropomi.co.ipynb
4-main_cams_tropomi-o3.ipynb
5-main_cams_tropomi-complex.ipynb
nano.save