bs4
cdsapi
cfgrib
climetlab
eccodes
ffmpeg-python
geocoder
h5py
ipykernel
ipympl
ipython
ipywidgets
lxml
nbformat
netCDF4
numpy
matplotlib
matplotlib-inline
pandas
seaborn
sentinelsat
scikit-learn
scipy
xarray